:root {
    --white: #ffffff;
    --gray: #d7d7d7;
    --light-green: #90a955;
    --dark-green: #006b6e;
    --text: #1c1c1c;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--white);

    font: {
        family: 'Roboto', sans-serif;
        size: 1rem;
        color: var(--text);
    }

    text: {
        align: center
    }
}