body {
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    font: {
        family: sans-serif;
        size: 1rem;
    }

    text: {
        align: center
    }
}